body {
	background-color: #efeff2;
	text-align: center;
}

.table {
	background-color: #ffffff;
}

table.status td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
}

table.status td td {
	border: 0px solid black;
	padding: 0px;
}

.nomargin {
	margin: 0px;
}

.result {
	padding-bottom: 20px;
}

.result table {
	text-align: center;
	border-collapse: collapse;
}

.result td, .result th {
	border: 1px solid gray;
	padding: 2px;
}

.wrong {
	background-color: #ffbbbb;
}

.ok {
	background-color: #bbffbb;
}

canvas {
	display: block;
}
