body {
	text-align: center;
	margin: 0px;
}

.result {
	padding-bottom: 20px;
}

.result table {
	text-align: center;
	border-collapse: collapse;
}

.result td, .result th {
	border: 1px solid gray;
	padding: 2px;
}

.wrong {
	background-color: #ffcccc;
}

.ok {
	background-color: #ccffcc;
}

canvas {
	display: block;
}
